@media(min-width: 1296px) {
  .document {}
  .term-1 {}
  .term-2 {}
  .term-3 {}
  .term-4 {}
  .term-5 {}
  .hero {}
  .english {}
  .hebrew {}
  .hebrew img {}
  .word {}
  .no-word {}

  .term-4 {
    font-size: 16em;
    padding-left: 6vw;
  }

  .hero {
    font-size: 8em;
    padding-right: var(--space-1);
    padding-top: var(--space-1);
    padding-bottom: var(--space-2);
    border: 30px solid var(--white);
  }
}
