@media(min-width: 864px) {
  .document {}
  .term-1 {}
  .term-2 {}
  .term-3 {}
  .term-4 {}
  .term-5 {}
  .hero {
    font-size: 5em;
    padding-right: var(--space-2);
    padding-top: var(--space-2);
    padding-bottom:var(--space-2);
    border: 20px solid var(--white);
  }
  .english {}
  .hebrew {}
  .hebrew img {}
  .word {}
  .no-word {}

  .term-1 {
    font-size: 20em;
    padding-left: 6vw;
  }
}