body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #808080;
}
a, p, li {
  /*color: blac;*/
}

.highligh-term {
  color: tomato;
}

main {
  display: flex;
}

.verse {
  list-style: none;
}

.verse-content {
  margin-bottom: 25px;
}

.verse-content li:nth-child(2) {
  content: before("--");
  list-style: none;
}

.verse-content li:nth-child(2):before {
  content: "- ";
}

.text {
  line-height: 25px;
  font-family: helvetica;
}

.ref {
  font-family: georgia;
  color: #127694;
}

article {
  padding: 3em;
}