<article>
  <header>
    <div class="img">
      <img src="./hero.svg" alt="">
    </div>
    <h1><%= title %></h1>
    <h2>YHVH has chosen Ziyyon above all others</h2>
  </header>
  <main>
    <section class="verses">
      <h2>Scripture</h2>
      <%= data %>
    </section>
    <section class="commentary">
      <h2>Commentary</h2>
      <%= comments %>
    </section>
  </main>
  <script src='./script.js'></script>
</article>
