body {
  background: #3f4040;
  font-family: helvetica;
  color: white;
  padding: 3em;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
  padding: 2em 1em;
}

.term {
  color: tomato;
}

.hero {
  font-size: 5em;
}

p {
  font-size: 1.2em;
}

.verse {
  display: flex;
  align-items: baseline;
  /*stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;*/
  margin: .5em 0;
  padding: .5em;
}

.ref {
  flex: 1;
}

.text {
 flex: 5;
}

.yhvh, .elohim {
  color: yellow;
}

.highlight {
  background: #5d5b3e;
}

li